<!doctype html>
<html>
<head>

<meta charset="utf-8">
<title>{% block title %}Welcome{% endblock %} — FreedomBox Foundation</title>
<link rel="icon" href="/images/freedombox_foundation_favicon.png" type="image/png" />
<link rel="stylesheet" href="/style.css" type="text/css" />
</head>

<body>
  <article class="page">

  <header>
    <div id="logo">
      <a href="/">
        <img src="/images/freedombox_foundation_logo_white.png" alt="Home">
      </a>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/buy/">Buy</a></li>
        <li><a href="/foundation/">Foundation</a></li>
        <li><a href="/people/">People</a></li>
        <li><a href="/software/">Software</a></li>
        <li><a href="/partners/">Partners</a></li>
        <li><a href="/donate/">Donate</a></li>
        <li><a href="/news/">News</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section id="content">
    {% block body %}{% endblock %}
  </section>

  <footer id="fp_footer" class="pagefooter">
    <nav>
      <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/thanks">Thanks</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/privacypolicy">Privacy Policy</a></li>
      </ul>
    </nav>
  </footer>

</article>
</body>
</html>
