{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {{ this.body }}
  <hr/>
  {% for post in this.pagination.items %}
    <p><a href="{{ post|url }}">{{ post.title }}</a> <em>(posted {{ post.pub_date }})</em></p>
    {{ post.summary }}
    <p><a href="{{ post|url }}">Read the rest here...</a></p>
    <hr/>
  {% endfor %}

  {{ render_pagination(this.pagination) }}
{% endblock %}
